<app-breadcrumb [title]="'Lista de deseados'" [breadcrumb]="'Lista de deseados'"></app-breadcrumb>
<div class="container">
  <div class="cart-wrapper sec-padding">
    <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="!wishlistItems.length">
      <mat-chip-list>
          <mat-chip color="warn" selected="true">No tienes artículos en tu lista de deseados.</mat-chip>
      </mat-chip-list>
      <div>
        <a [routerLink]="['/']" routerLinkActive="router-link-active"   mat-raised-button color="primary" class="btn-project mt-20">Continuar comprando</a>
      </div>
    </div>
    <mat-card *ngIf="wishlistItems.length"  class="p-0">
      <div class="mat-table cart-table">
        <div class="mat-header-row">
          <div class="mat-header-cell">Producto</div>
          <div class="mat-header-cell">Nombre</div>
          <div class="mat-header-cell">Precio</div>
          <div class="mat-header-cell text-center">
            <div class="px-1">
              <button mat-raised-button color="warn" >Eliminar todo</button>
            </div>
          </div>
        </div>
        <div *ngFor="let item of wishlistItems"  class="mat-row">
          <div class="mat-cell"><img [src]="item.pictures[0].small"></div>
          <div class="mat-cell"><a  class="product-name">{{item.name}}</a></div>
          <div class="mat-cell price">{{item.price | number : '1.2-2'}}</div>

          <div class="mat-cell text-center">
            <div class="p-1">
                  <mat-icon class="close" (click)="removeItem(item)">close</mat-icon>
            </div>
          </div>
        </div>
        <div class="mat-row">
          <div class="mat-cell"><a [routerLink]="['/home/one']" routerLinkActive="router-link-active"  mat-raised-button color="primary" class="btn-project">Continuar comprando</a></div>
          <div class="mat-cell"></div>
          <div class="mat-cell"></div>
          <div class="mat-cell text-center"><a [routerLink]="['/pages/checkout']" routerLinkActive="router-link-active" mat-raised-button color="primary" class="btn-project">Proceder a pagar</a></div>
        </div>
      </div>
    </mat-card>
  </div>
</div>