<app-breadcrumb [title]="'Comparacion'" [breadcrumb]="'Comparacion'"></app-breadcrumb>
<div class="compare-component sec-padding">
  <div class="container">
    <div  class="p-0">
      <div class="col-sm-12 empty-cart-cls text-center" *ngIf="!products.length">
        <img src="assets/images/backet-01.png" class="img-fluid mb-4" >
        <h3 class="mb-5"><strong>Lista de comparación está vacía</strong></h3>
        <h4>Explore productos para comparar.</h4>
      </div>
      <div class="table-responsive" *ngIf="products.length">
        <table class="table">
          <thead>
            <tr class="th-compare">
              <td>Acción</td>
              <th class="item-row" *ngFor="let product of products">
                <a (click)="removeItem(product)"><i class="material-icons">highlight_off</i></a>
              </th>
            </tr>
          </thead>
          <tbody id="table-compare">
            <tr>
              <th class="product-name">Nombre del Producto</th>
              <td class="grid-link__title" *ngFor="let product of products">{{product.name}}</td>
            </tr>
            <tr>
              <th class="product-name">Precio del producto</th>
              <td class="grid-link__title" *ngFor="let product of products">{{product.price | number : '1.2-2'}}</td>
            </tr>
            <tr>
              <th class="product-name ">Imagen del producto</th>
              <td class="item-row" *ngFor="let product of products">
                  <img [src]="product.pictures[0].small" width="185" class="featured-image">
              </td>
            </tr>
            <tr>
              <th class="product-name">Descripción del producto</th>
              <td class="item-row" *ngFor="let product of products">
                  <p class="description-compare">{{product.shortDetails}}</p>
              </td>
            </tr>
            <tr>
              <th class="product-name"> Disponibilidad </th>
              <td class="available-stock" *ngFor="let product of products">
                  <p> Disponible en stock </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>