<app-breadcrumb [title]="product?.name" [breadcrumb]="'Product'"></app-breadcrumb>
<div class="container">
  <div class="details-wrapper sec-padding" >
    <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="80">
      <div fxLayout="row wrap" fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
        <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="45">
            <!-- <mat-card class="product-image">
                <div *ngFor="let image of product.pictures">
                  <ngx-image-zoom   [thumbImage]="image" [fullImage]="image" zoomMode="hover"
              ></ngx-image-zoom>
                </div>
            </mat-card> -->
          <mat-card class="product-image">
            <div>
                <button mat-icon-button  fxHide="false" fxHide.gt-md>
                  <mat-icon>fullscreen</mat-icon>
                </button>
                <img [src]="product.pictures[bigProductImageIndex].big"/>
            </div>
            <a (click)="openProductDialog(product, bigProductImageIndex)" style="cursor: pointer;"><mat-icon>zoom_in</mat-icon></a>
          </mat-card>

          <div class="small-carousel">
            <div class="swiper-container" [swiper]="config">
              <div class="swiper-wrapper">
                <div *ngFor="let image of product?.pictures; let i=index" class="swiper-slide">
                  <mat-card (click)="selectImage(i)" class="p-1">
                      <img [src]="image.small" class="swiper-lazy"/>
                      <div class="swiper-lazy-preloader"></div>
                  </mat-card>
                </div>
              </div>
              <button mat-icon-button class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
              <button mat-icon-button class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
            </div>
          </div>
        </div>

        <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="55" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">
          <div class="product-right">
            <div class="product-details">
              <h2>{{product.name}}</h2>
              <!-- <h4 *ngIf="!productsService?.catalogMode"><del>{{product.salePrice | currency:productsService?.currency:'symbol'}}</del><span>{{product.discount}}% off</span></h4> -->
              <h3 class="price" *ngIf="!productsService?.catalogMode">{{product.price | currency:productsService?.currency:'symbol'}}</h3>
              <p class="text-muted description">{{product.description}}</p>
            </div>
            <div class="py-1 mt-15">
              <p>
                <span class="text-muted fw-500">Disponibilidad: </span>
                <span class="avalibility" *ngIf="counter <= product.stock"><span>En Stock</span></span>
                <span class="avalibility" *ngIf="counter > product.stock"><span class="red">Agotado</span></span>
              </p>
            </div>
            <div class="quantity">
              <span class="text-muted fw-500">Cantidad</span>
              <div fxLayout="row" fxLayout.xs="column"  class="text-muted">
                <div fxLayout="row" fxLayoutAlign="center start">
                  <button mat-icon-button matTooltip="Remove" (click)="decrement()">
                    <mat-icon>remove</mat-icon>
                  </button>
                  <input type="text" name="quantity" value="{{counter}}" class="form-control input-number">
                  <button mat-icon-button matTooltip="Add" (click)="increment()">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="buttons mt-20">
              <button mat-raised-button color="primary" class="btn-project mr-10" (click)="addToCart(product, counter)">AGREGAR</button>
              <button mat-raised-button color="primary" class="btn-project" (click)="buyNow(product, counter)">COMPRAR AHORA</button>
            </div>
          </div>
        </div>
      </div>

      <div class="review-wrapper" fxFlex="100"  fxFlex.md="75">
        <mat-card>
          <mat-tab-group [@.disabled]="true" [selectedIndex]="0">
            <mat-tab label="Características">
              <div class="full-desc lh">
                <p *ngFor="let description of product?.features; let i=index" class="text-muted">{{ description }}</p>
              </div>
            </mat-tab>
            <mat-tab label="Especificaciones">
              <div class="full-desc lh text-muted">
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <ul class="px-2 mt-1">
                  <li *ngFor="let item of product?.specifications; let i=index">{{ item }}</li>
                </ul>
              </div>
            </mat-tab>
            <mat-tab label="Reviews">
              <div class="full-desc lh">
                <ul class="px-2 mt-1">
                  <li *ngFor="let item of product?.functions; let i=index">{{ item }}</li>
                </ul>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>

      <div class="products sec-padding">
        <div class="title">
          <h4 class="widget-title">Productos relacionaos</h4>
        </div>
        <app-product-carousel-three [product]="products | slice:0:6"></app-product-carousel-three>
      </div>
    </div>
    <div fxLayout="row wrap" fxHide fxShow.gt-sm fxFlex="100" fxFlex.gt-sm="22">
      <div fxFlex="100"  >
        <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-0">
          <div fxFlex="100" >
            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                <mat-icon class="mat-icon-xlg  m-0">card_giftcard</mat-icon>
                <div class="content ml-10">
                  <p>BONUS PLUS</p>
                  <span class="text-muted m-0">Obtén un bonus por la compra de 3 productos.</span>
                </div>
            </mat-card>
          </div>
          <div fxFlex="100" >
            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                <mat-icon class="mat-icon-xlg  m-0">local_shipping</mat-icon>
                <div class="content ml-10">
                  <p>ENVÍO GRATIS</p>
                  <span class="text-muted m-0">Envío gratis por la compra de tus productos</span>
                </div>
            </mat-card>
          </div>
          <div fxFlex="100"  class="mt-16">
            <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                <mat-icon class="mat-icon-xlg m-0">monetization_on</mat-icon>
                <div class="content ml-10">
                  <p>GARANTÍA DE DEVOLUCIÓN DE DINERO</p>
                  <span class="text-muted m-0">Política de devolución</span>
                </div>
            </mat-card>
          </div>
          <div fxFlex="100"  class="mt-16">
            <mat-card class="light-block no-border" fxLayout="row"  fxLayoutAlign="start center">
                <mat-icon class="mat-icon-xlg m-0">history</mat-icon>
                <div class="content ml-10">
                  <p>SOPORTE ONLINE 24/7</p>
                  <span class="text-muted m-0">Llamanos al: 967682083</span>
                </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>