<mat-toolbar-row fxHide fxShow.gt-sm class="container" fxLayout="row"  fxLayout.xs="row" fxLayoutAlign="space-between center">
  <div class="main-menu" fxLayout="row" fxHide fxShow.gt-sm>
    <a mat-button class="mat-button" [routerLink]="['/']">Inicio</a>
    <a  [matMenuTriggerFor]="products" routerLinkActive="router-link-active"  mat-button class="mat-button">Productos<mat-icon class="caret">arrow_drop_down</mat-icon></a>
    <mat-menu #products="matMenu" [overlapTrigger]="false" class="app-dropdown">
      <a mat-menu-item [routerLink]="['/home/products/all/left-sidebar']" routerLinkActive="router-link-active" >Categorìa 1</a>
      <a mat-menu-item [routerLink]="['/home/products/all/right-sidebar']" routerLinkActive="router-link-active">Categorìa 3</a>
      <a mat-menu-item [routerLink]="['/home/products/all/no-sidebar']" routerLinkActive="router-link-active">Categorìa 2</a>
    </mat-menu>
      <a  mat-button [matMenuTriggerFor]="pages" class="mat-button">Pàginas<mat-icon class="caret">arrow_drop_down</mat-icon></a>
    <mat-menu #pages="matMenu" [overlapTrigger]="false" class="app-dropdown">
      <a [routerLink]="['/pages/about']" mat-menu-item>Nosotros</a>
      <a mat-menu-item [routerLink]="['/pages/faq']" >FAQ</a>
    </mat-menu>
    <a [routerLink]="['/pages/contact']" routerLinkActive="router-link-active"   mat-button class="mat-button">Contacto</a>
  </div>
</mat-toolbar-row>